*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


a{
    color:inherit;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;

}
body{
    color:#151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Open Sans', sans-serif;
}
.head__inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 30px;
    font-weight: 400;
    font-size: 18px;
}
.menu__container:hover{
background-color: #8B4513;
color:#fff;
}
.top{
    background: url('img/goldwine2.jpeg')  no-repeat;
    background-position: center ;
    background-size: cover;
}
.top__inner{
    min-height: 500px;
    color:#fff;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;


}
.top__text{
font-size: 24px;
margin-bottom: 48px;
max-width: 560px;
line-height: normal;
}
.blockquote__text{
    text-align: center;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    max-width: 704px;
    margin: 150px auto;

}


.center{
    background: url('img/proccess.jpeg');
    border: 3px solid #151618;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;

}
.center__inner{
    margin-top: 500px;
}
.text__under{
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    max-width: 704px;
    margin: 90px auto;

}
.name{
    transition: 0.5s;
}
.name:hover{
    transform: scale(1.2);
    color:#8B4513;
}
.gmail{
    transition: 0.5s;
}
.gmail:hover{
    transform: scale(1.2);
    color:#8B4513;

} 
.container a:hover{
    color:#242B33;
    color:#A0522D;  
}
.gallery__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    margin-top: 200px; 
}

.gallery__item {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.gallery__image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
   
    
}

.text__slogan p{
    margin: 0 auto;
    font-size: 24px;
    margin-top: 150px;
    max-width: 650px;
    line-height: normal;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    text-align: center;

    
}
.last{
    display: flex;
    justify-content: space-around;

}
.end__items{
    max-width: 1240px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 290px;
}
.end__title p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    
}
.end{
    padding: 50px;
    background-color: #FFFAFA;;
}
.end__title ul li a{
    line-height: 40px;    
}
.end__location{
    max-width: 800px;
    text-align: justify;
    line-height: 60px;
}
.end__location-title h2{
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;  
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.end__daily-title h2{
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;  
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.end__daily{
    max-width: 600px;
    text-align: justify;
    line-height: 60px;
}
.end__symbol{
    margin-top: 60px;
    text-align: right;
}



.head__inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 30px;
    font-weight: 400;
    font-size: 18px;
}
.menu__container:hover{
background-color: #8B4513;
color:#fff;
}
.top{
    background: url('img/goldwine2.jpeg')  no-repeat;
    background-position: center ;
    background-size: cover;
}
.top__inner{
    min-height: 500px;
    color:#fff;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;


}
.top__text{
font-size: 24px;
margin-bottom: 48px;
max-width: 560px;
line-height: normal;
}
.blockquote__text{
    text-align: center;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    max-width: 704px;
    margin: 150px auto;

}


.center{
    background: url('img/proccess.jpeg');
    border: 3px solid #151618;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;

}
.center__inner{
    margin-top: 500px;
}
.text__under{
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    max-width: 704px;
    margin: 90px auto;

}
.name{
    transition: 0.5s;
}
.name:hover{
    transform: scale(1.2);
    color:#8B4513;
}
.gmail{
    transition: 0.5s;
}
.gmail:hover{
    transform: scale(1.2);
    color:#8B4513;

} 
.container a:hover{
    color:#242B33;
    color:#A0522D;  
}
.gallery__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    margin-top: 200px; 
}

.gallery__item {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.gallery__image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
   
    
}
.text__slogan p{
    margin: 0 auto;
    font-size: 24px;
    margin-top: 150px;
    max-width: 650px;
    line-height: normal;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    text-align: center;

    
}
.last{
    display: flex;
    justify-content: space-around;

}
.end__items{
    max-width: 1240px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 290px;
}
.end__title p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    
}
.end{
    padding: 50px;
    background-color: #FFFAFA;;
}
.end__title ul li a{
    line-height: 40px;    
}
.end__location{
    max-width: 800px;
    text-align: justify;
    line-height: 60px;
}
.end__location-title h2{
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;  
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.end__daily-title h2{
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;  
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.end__daily{
    max-width: 600px;
    text-align: justify;
    line-height: 60px;
}
.end__symbol{
    margin-top: 60px;
    text-align: right;
}
.menu__items{
    max-width: 1240px;
    margin-top: 300px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin: 0 90px;
    margin-top: 200px;
    align-items: start;

}
.menu__images img{

    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}
.menu__images img:hover{
    filter:brightness(150%)
}
.menu__title{
    font-family: 'Bebas Neue', sans-serif;
}
.menu__title , .menu__text{
    margin-top: 20px;
    text-align: center;
}
.list{
    margin: 200px 0px;
    text-align: center;
    line-height: 80px;
}
.list__title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}
.list__subtitle{
    font-family: 'Lobster', sans-serif;  

}
.list__text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;

}




.introduction__container{
    padding:20px;
    text-align: justify;
    max-width: 50%;
}
.introduction__text{
    padding: 50px;
    font-family: 'Cormorant Garamond', serif;

}
.introduction__title h2{
    font-family: 'Bebas Neue', sans-serif;
    padding: 40px;
    text-align: center;
}
.introduction__items{
    display:flex;
    flex-direction: row;

}
.introduction__image img{
    border-radius: 25% 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.introduction__text span{
    color:#8B4513;
    font-size: 35px;
}
.info__row{
    display:flex;
    flex-direction: column;
}
.inside{
    background: url('img/vino2.jpg')  no-repeat;
    height: 700px;
    background-position: center;
    background-size: cover;
}
.info__title{
    font-family: 'Lobster', sans-serif;  
    font-size: 60px;
    color:#151618;
    margin-top: 150px;
    text-align: center;
}


.history{
    max-width: 1240px;
    margin: 150px auto;
    align-items: center;
}
.history__title h2{
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 40px;
    text-align: center;
}
.history__text{
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    max-width: 720px;
    margin: 0 auto;
    font-size: 26px;
}
.contains{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
}

.team__items-img img{
    margin-top: 100px;
    height: 50%;
    border-radius: 50%;
    
}
.team__items-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    font-size: 17px;
}
.team__items-title h2{
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.team__items-text p{
    color: darkred;
    text-align: center;
    margin-top: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 24px;

}
.team__items-text ul li{
    line-height: 50px;
    text-align: center;
}
.team__plogue{
    max-width: 720px;
    padding-top: 300px;

    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 24px;
}
.team__plogue2{
    padding: 100px 0px 200px 0px;
    max-width: 720px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 24px;
}
.inform__items{
    display:flex;
    flex-direction: row;
}
.inform__img img{
    filter: blur(3px);
    margin-top: 40px;
    margin-left: 50px;
    max-width: 500px;
    border-radius: 10% 30% 50% 70%;
    transition:(5s);
}
.inform__img img:hover{
    transform: scale(1.1) rotate(12deg)
}



.inform__title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 350px;
    transition: 1.4s;

}
.inform__title:hover{
    color:darkred;
    transform: scale(1.1);
}
.centring{
    padding-top: 300px;
    margin-bottom: 100px;
    

}
.table {
    border: 2px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 800px;
    min-height: 500px;

}
 tr th {
    font-family: 'Lobster', sans-serif;  
    font-size: 25px;
    border: 2px solid #000;

}

tr td {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    border: 2px solid #000;

}
tr td:hover {
    color:darkred;
}
.smedias__logo img{

    max-width: 40px;
    transition: 1.4s;
}
.smedias__logo img:hover{
    transform: scale(1.5);
}
.wrap2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 200px 0;
}
.smedias__title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-align: center;
}

.center {
    background: url('img/proccess.jpeg');
    border: 3px solid #151618;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.center__inner {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
}

.card {
    max-width: 400px;
    margin: 0 auto;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.card-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    
    
}

.btn-group button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-group button:hover {
    background-color: #DCDCDC;
}
.btn-group a{
    color:#fff;
    text-decoration: none;
    list-style: none;
}
.btn-group a:hover{
    color:#000;
}

.end__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.end__location,
.end__daily {
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
}

.end__location-title h2,
.end__daily-title h2 {
    margin-top: 20px;
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    text-align: center;
}
.end__title p{
    margin-top: 20px;
    text-align: center;
}
.accordion-section {
    padding: 20px;
}

.accordion .card {
    border: none;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion .card-header {
    background-color: #f8f9fa;
}

.accordion .card-header button {
    width: 100%;
    text-align: left;
}

.accordion .card-header h2 {
    margin: 0;
}

.accordion .card-header:focus {
    outline: none;
}

.accordion .card-body {
    padding: 15px;
}

.accordion-section,
.accordion .card,
.accordion .card-header,
.accordion .card-header button,
.accordion .card-header h2,
.accordion .card-body {
    color: #151618;
    font-size: 35px;
    line-height: 1.5;
}

.accordion .card-body a {
    color: inherit;
    text-decoration: none;
}
.accordion .card-header{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
.card-body p{
    font-size: 20px;
}

.accordion .card-header:hover {
    background-color: #F0FFFF;
    color: #fff;
}
.accordion-section {
    padding: 100px;
    margin-top: 50px; 
    margin-bottom: 50px; 
}




@media (max-width: 1000px){
    .head__inner{
        margin: 20px 0px;
        line-height: 15px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .blockquote__text{
        margin-top: 120px;
        margin-bottom: 135px;
    }
    .center{
        background-position: left;
        background-size: cover;
        min-height: 500px;
        max-width: 500px;
        justify-content: center;
        margin: 0 auto;
    
    }
    .text__under{
        font-size: 20px;
        max-width: 500px;
        margin: 50px auto;
    }
    .text__slogan p{
        text-align: center;
        
    }
    .introduction__container{
        padding:20px;
        text-align: justify;
        max-width: 100%;
    }
    .introduction__title h2{
        font-family: 'Bebas Neue', sans-serif;
        padding: 40px;
        text-align: center;
        }
    .introduction__items{
        display:flex;
        flex-direction: column-reverse;
    
    }
    .introduction__image img{
        margin-top: 40px;
        padding: 0px 20px;
        
    }
    .introduction__text span{
        color:#8B4513;
        font-size: 35px;
    }
    .history__title h2{
        font-family: 'Bebas Neue', sans-serif;
        padding-bottom: 30px;
        padding-top: 0px;
        text-align: center;
        margin: 0;
    }
    .history__text{
        max-width: 400px;
        
    }
    .team__items-text ul li{
        line-height: 50px;
        text-align: justify;
        max-width: 300px;
        list-style: circle;
    }
    .inform__items{
        display:flex;
        flex-direction: column;
    }
    .inform__img img{
        margin-top: 40px;
        margin-left: 140px;
        max-width: 300px;
        border-radius: 10% 30% 50% 70%;
        transition: (5s);
    }
   
   
   
    .table {
        border: 2px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        min-width: 500px;
        min-height: 500px;
    
    }
     tr th {
        font-family: 'Lobster', sans-serif;  
        font-size: 15px;
       
    
    }
    
    tr td {
        
        font-size: 15px;
        border: 2px solid #000;
    
    }
   
   
   
    
}
@media (max-width: 768px) {
    .end__items {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .team__plogue{
        padding-left:40px;
        padding-right:40px;

    }
    .end__title {
        margin-bottom: 20px;
    }

    .end__location,
    .end__daily {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .menu__list {
        flex-direction: column;
        gap: 10px;
        text-align: justify;
    }

}
@media only screen and (max-width: 600px) {
    .head__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .name {
        margin-bottom: 20px;
    }
    
    .gmail {
        margin-bottom: 20px;
    }
    
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}
